<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9f0b198a-725c-45bf-ace2-bb6bcec1bffd/resourceGroups/MambuAppGrupo/providers/Microsoft.Web/sites/MambuCardsV2</ResourceId>
    <ResourceGroup>MambuAppGrupo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://mambucardsv2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>mambucardsv2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MambuCardsV2</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MambuCardsV2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>