@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["test"] = "c1575698bf9e5db7e2ddd25e14a15fc89e4deaaf7500a424468ed9d6fe501f67.eyJET01BSU4iOiJzaG93Y2FzZWxhdGFtLm1hbWJ1LmNvbSIsIk9CSkVDVF9JRCI6IkhQWE85NzkiLCJBTEdPUklUSE0iOiJobWFjU0hBMjU2IiwiVEVOQU5UX0lEIjoic2hvd2Nhc2VsYXRhbSIsIlVTRVJfS0VZIjoiOGE4MThlNDM2ZmU3OTFmZjAxNmZlN2I5NTBjOTI0OTcifQ";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form action="/Home/Index" method="post">
    <input type="hidden" id="gwt-debug-signedRequest" name="signed_request" value="c1575698bf9e5db7e2ddd25e14a15fc89e4deaaf7500a424468ed9d6fe501f67.eyJET01BSU4iOiJzaG93Y2FzZWxhdGFtLm1hbWJ1LmNvbSIsIk9CSkVDVF9JRCI6IkhQWE85NzkiLCJBTEdPUklUSE0iOiJobWFjU0hBMjU2IiwiVEVOQU5UX0lEIjoic2hvd2Nhc2VsYXRhbSIsIlVTRVJfS0VZIjoiOGE4MThlNDM2ZmU3OTFmZjAxNmZlN2I5NTBjOTI0OTcifQ">
    <input type="submit" value="Submit">
</form> 